<h1>Datos personales de @ViewBag.Nombre </h1>
<ul>
<li>Nombre: @ViewBag.Nombre </li>
<li>Apellido: @ViewBag.Apellido </li>
<li>Fecha nacimiento: @ViewBag.FechaNacimiento </li>  
<li>Edad: @ViewBag.Edad </li>
</ul>
<img src="/img/@ViewBag.foto" alt="foto">