
<body>
<header>
<a href='@Url.Action("MostrarDatosPersonales","Home")'> Inicio</a>
<a href='@Url.Action("Deslogearse","Home")'> Deslogearse</a>
</header>
<main>
<h1>Datos personales de @ViewBag.usuario.Nombre </h1>


<h3>Nombre: @ViewBag.usuario.Nombre </h3>
<h3>Apellido: @ViewBag.usuario.Apellido </h3>
<h3>Fecha nacimiento: @ViewBag.usuario.FechaNacimiento</h3>
<img src= "/@ViewBag.usuario.Foto" alt="Foto">
<a href='@Url.Action("MostrarDatosFamiliares","Home")'> Datos Familiar</a>
<a href='@Url.Action("MostrarDatosInteres","Home")'>Datos Interes</a>
</main>
</body>